#geral{
    width: 600px;
    min-height: 800px;
    background-color: aqua;
    margin: 20px auto;
    padding: 20px;
}

h3{
    text-align: center;
    text-transform: uppercase;
    color: aqua;
}

label{
    display: block;
    padding: 5px 0px;
}

input{
    display: block;
    margin: 10px 0px;
}